.img-perfil {
    width: 400px;
    height: 400px;
}

.card {
    height: 30em;
    margin: 2em auto;
}

.card-img-top {
    height: 20em;
}

.hidden {
    display: none;
}

.appear {
    display: block;
}